<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header">
	<a href="{{ "" | absolute_url }}" class="logo">
		<img alt="{{ site.title }}" src="/assets/images/svg/cmfive-white-badge.svg">
		<span class="headercaption">{{ site.subtitle }}</span></a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
        {% for page in site.pages %}
		    {% if page.layout == "home" %}
		        <li><a href="{{ "" | absolute_url }}">{{ page.title }}</a></li>
	    	{% endif %}
		{% endfor %}
		{% for page in site.pages %}
		    {% if page.layout != "home" and page.nav-menu == true and page.disabled != true %}
		        <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
		    {% endif %}
		{% endfor %}

        <!-- {% for doc_page in site.doc_pages %}
        <li><a href="{{ doc_page.url }}">{{ doc_page.title }}</a></li>
        <!-- <p>{{ doc_page.content | markdownify }}</p> -->
        <!-- {% endfor %} -->
	</ul>
	<ul class="actions vertical">
		<li><a href="/documentation/getting-started.html" class="button special fit">Documentation</a></li>
	</ul>
	<ul class="actions vertical">
		<li><a href="/tutorials/getting-started.html" class="button special fit">Tutorials</a></li>
	</ul>
	<ul class="actions vertical">
		<li><a href="/apidocumentation/getting-started.html" class="button special fit">API Documents</a></li>
	</ul>
</nav>
