<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content" style="padding-top: 50px; float: right;">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
                <ul class="actions">
                    <li><a href="{{ "/documentation/getting-started.html" | absolute_url }}" class="button next scrolly">Documentation</a></li>
                </ul>
            </div>
        </div>
    </section>

    {% include footer.html %}

</body>

</html>
