<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    {% include header.html %}
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <p class="spacer" style="text-transform: uppercase;">{{ site.description }}</p>
            <div class="content" >
                <ul class="actions">
                    <li><a href="{{ "/documentation/getting-started.html" | absolute_url }}"  class="button next scrolly">Documentation</a></li>
                    <li><a href="{{ "/tutorials/getting-started.html" | absolute_url }}" class="button next scrolly">Tutorials</a></li>
                    <li><a href="{{ "/api/getting-started.html" | absolute_url }}" class="button next scrolly">API Documents</a></li>
                </ul>
            </div>
        </div>
    </section>
    {% include footer.html %}
</body>
</html>