<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    {% include header.html %}
    <div id="main" class="alt">
        <section id="one">
            <div class="inner">
                <header class="major wideview">
                    <h1>{{ page.title }}</h1>
                </header>
                {% if page.type %}
                <div class = "button accordionpopbar">
                    Document Navigation
                        <img style="display: inline-block" src="/assets/images/svg/drop-down-arrow.svg">
                </div>
                    {% assign page_type = page.type | append: "_menu" %}
                    <div class="row">
                        <div class="4u 12u$(small)" style="padding-left: 0; padding-right:8%;">
                            <ul class="accordion">
                                {% assign grabasnext = false %}
                                {% for parent in site.data[page_type]  %}
                                {% assign parentbar = parent.name  | remove: " " %}
                                    <li id="{{ parentbar }}">
                                        {{ parent.name }}
                                    </li>
                                    <ul  id="{{ parentbar }}" class="alt">
                                        {% for children in parent.children %}
                                            {% assign childbar = parentbar | append: children.name  | remove: " " %}
                                            <li id='{{ childbar }}' >
                                                <a href="{{ children.link }}">{{ children.name }}</a>
                                                {% assign childlink = children.link | append: ".html" %}
                                                {% if grabasnext == true %}
                                                    {% assign pagenextdesc = children.name %}
                                                    {% assign pagenexthref = children.link %}
                                                    {% assign grabasnext = false %}
                                                {% endif %}
                                                {% if childlink == page.url %}
                                                    {% assign popbarparent = parentbar %}
                                                    {% assign popbarchild = childbar %}
                                                    {% assign pageprevdesc = prevtxt %}
                                                    {% assign pageprevhref = prevlink %}
                                                    {% assign grabasnext = true %}
                                                {% endif %}
                                            </li>
                                            {% assign prevtxt = children.name %}
                                            {% assign prevlink = children.link %}
                                        {% endfor %}
                                    </ul>
                                {% endfor %}
                                <div>
                                    <br> {{ popbar1 }}
                                    {% if page.type != "doc"%}
                                    <a href="/documentation/getting-started">Check out the documentation</a>
                                    <br>
                                    {% endif %}
                                    {% if page.type != "tute" %}
                                        <a href="/tutorials/getting-started">Check out the tutorials</a>
                                    {% endif %}
                                </div>
                            </ul>
                        </div>
                        <div class="8u 12u$(small)" style="padding-right: 0;"">
                {% endif %}
                <header class="thinview">
                    <h1>{{ page.title }}</h1>
                </header>
                {{ content }}
                <div class = "navclicker">
                    {% if pageprevdesc %}
                        <span class = "backward">{{ pageprevdesc }}</span>
                        <a href="{{ pageprevhref }}" class="button navspot backward scrolly">back</a>
                    {% endif %}
                    {% if pagenextdesc %}
                        <a href="{{ pagenexthref }}" class="button navspot forward scrolly">next</a>
                        <span class = "forward">{{ pagenextdesc }}</span>
                    {% endif %}
                </div>
                {% if page.type %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </section>
    </div>
    {% include footer.html %}
</body>
</html>
{% if popbarparent %}
    <script>
        var poptopaccordion = document.evaluate("//li[@id='{{ popbarparent }}']", document, null, XPathResult.FIRST_ORDERED_NODE_TYPE, null).singleNodeValue;
            if (poptopaccordion !== null) {
                poptopaccordion.setAttribute("class", "active");
            }
        var popsubaccordion = document.evaluate("//li[@id='{{ popbarchild }}']", document, null, XPathResult.FIRST_ORDERED_NODE_TYPE, null).singleNodeValue;
            if (popsubaccordion !== null) {
                popsubaccordion.setAttribute("class", "active");
            }
    </script>
{% endif %}